{{ define "main" }}
<main class="post">
  <div class="row">
    <div class="col-3">
      <div class="row">
        Languages
      </div>
      <div class="row">
        <ul>
          <li>Java</li>
          <li>C++</li>
          <li>C#</li>
          <li>Python</li>
          <li>Javascript</li>
          <li>Groovy</li>
          <li>Prolog</li>
          <li>OCaml</li>
          <li>TypeScript</li>
        </ul>
      </div>
    </div>
    <div class="col-3">
      <div class="row">
        Libraries
      </div>
      <div class="row">
        <ul>
          <li>d3js</li>
          <li>OpenGL</li>
          <li>jQuery</li>
          <li>NodeJS</li>
          <li>Angular2/4</li>
          <li>VueJS</li>
        </ul>
      </div>
    </div>
    <div class="col-3">
      <div class="row">
        Frameworks
      </div>
      <div class="row">
        <ul>
          <li>Spring</li>
          <li>Quartz</li>
          <li>Grails</li>
          <li>Spring Batch</li>
          <li>Hadoop</li>
          <li>Boostrap 4</li>
          <li>Vuetify</li>
        </ul>
      </div>
    </div>
    <div class="col-3">
      <div class="row">
        Tools
      </div>
      <div class="row">
        <ul>
          <li>Flyway</li>
          <li>Jenkins</li>
          <li>Blender</li>
          <li>Unity</li>
          <li>Unreal Engine</li>
          <li>Source SDK</li>
          <li>Adobe Photoshop</li>
          <li>GIMP</li>
          <li>Adobe Premiere</li>
        </ul>
      </div>
    </div>
  </div>
</main>
{{ end }}