{{ define "main" }}
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-6">
            <img src="/images/education/utd_logo_white.png" class="mx-auto p-3">
            <p>
                <strong>Master's in Computer Science</strong><br>
                Thesis in Virtual Reality - <a href="https://search.proquest.com/openview/8b47a8124f22f6fbcf060d45225181e8/1?pq-origsite=gscholar&cbl=18750&diss=y">link</a><br>
                University of Texas at Dallas, Texas <br>
                Aug 2013 - May 2015
            </p>
        </div>
        <div class="col-6">
            <img src="/images/education/anna_u_logo_white.png" class="mx-auto p-3">
            <p>
                <strong>Bachelor's in Computer Science & Engineering</strong><br>
                Anna University, Chennai India <br>
                Aug 2008 - May 2012
            </p>
        </div>
    </div>
</div>
{{ end }}